*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ad_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  height: 100vh;
  background-image: url('../images/background.png');
  align-content: center;
  justify-content: center;
  padding: 2%;
}
.ad_dud{

}

/* AD COVER */
.ad_link a:link figure{
  transition:all .3s;
  opacity:100%;
}
.ad_link a:visited figure{
}
.ad_link a:hover figure{
  opacity:0%
}
.ad_link a:active figure{
}
/* TEXT LINK*/
.ad_link a p{

  font-size: 20pt;
  margin: 2%;
  position:fixed;
  background-color: white;
}
.ad_link a:link p{
  opacity:0%;
}
.ad_link a:visited p{
}
.ad_link a:hover p{
  opacity:100%
}
.ad_link a:active p{
}

/* POSITION OF LINKS ON GRID */
.ad1{
  grid-column: 4/5;
  grid-row: 1/2;
}
.ad2{
  grid-column: 1/2;
  grid-row: 2/3;

}
.ad3{
  grid-column: 3/4;
  grid-row: 2/3;
}
.ad4{
  grid-column: 2/3;
  grid-row: 3/4;
}
.ad5{
  grid-column: 3/4;
  grid-row: 4/5;
}
