body {
  background-color: #C8ADC0;
}
h1{
  color: #92140C; //dark red
  align-content: center;
  font-size: 40px;
  line-height: 0.2;
  font-style: italic;
}
h2{
  color: #7765E3; //purple
  line-height:0.2;
}
h3{
  color:#7765E3; //purple
}
p{
  color:#32213A; //dark purple
}
