body{
  background-image: url(egg2.png);
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #8C4303;
}
.links_nav{
  margin-top: 20%;
  margin-left: 52%;
  line-height: 300%;
}
.links_nav a{
  padding: 2%;
  font-family: helvetica, sans-serif;
  color:#8C4303;
  text-decoration: none;
  font-size: 200%;
  text-transform: capitalize;
}
.visited_link{
  background-color: #8C4303;
  color: #D9C6B0;
}
.links_nav a:link{
}
.links_nav a:visited{
}
.links_nav a:hover{
  background-color: #8C4303;
  color: #D9C6B0;
}
